{% extends "layout.html" %}

{% block body %}

<div id="content">
    <span id='back_link'>
        <a href='{{ url_for('display_path', path='%s' % path|dirname) }}'>
            <img src='{{ url_for('static', filename="img/prev.png") }}' />
            <span>Back</span>
        </a>
    </span>
    <h3><a href="{{ url_for('media', filename=path) }}">{{ path|filename }}</a></h3>
    {% if player == "divx" %}
        <object classid="clsid:67DABFBF-D0AB-41fa-9C46-CC0F21721616" width="800" height="600" codebase="http://go.divx.com/plugin/DivXBrowserPlugin.cab">
            <param name="custommode" value="none" />
            <param name="autoPlay" value="{{autoplay}}" />
            <param name="src" value="{{baseurl}}{{ url_for('media', filename=path) }}" />
            <embed type="video/divx" src="{{baseurl}}{{ url_for('media', filename=path) }}" custommode="none" width="800" height="600" autoPlay="{{autoplay}}"  pluginspage="http://go.divx.com/plugin/download/"></embed>
        </object>
    {% elif player == "vlc" %}
  	    <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
  	            codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab#Version=0,8,6,0"
  	            width="600"
  	            height="960"
  	            id="vlc"
  	            events="True">
  	    <param name="MRL" value="" />
  	    <param name="ShowDisplay" value="True" />
  	    <param name="AutoLoop" value="False" />
        <param name="AutoPlay" value="{{autoplay}}" />
  	    <param name="Volume" value="50" />
  	    <param name="StartTime" value="0" />
  	    <embed pluginspage="http://www.videolan.org"
  	           type="application/x-vlc-plugin"
  	           progid="VideoLAN.VLCPlugin.2"
  	           width="800"
  	           height="600"
  	           name="vlc"
               target="{{baseurl}}{{ url_for('media', filename=path) }}">
  	    </embed>
  	    </object>
    {% elif player == "wmp" %}
        <OBJECT id='mediaPlayer' width="800" height="600" 
          classid='CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95' 
          codebase='http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701'
          standby='Loading Microsoft Windows Media Player components...' type='application/x-oleobject'>
          <param name='fileName' value="{{baseurl}}{{ url_for('media', filename=path) }}">
          <param name='animationatStart' value='true'>
          <param name='transparentatStart' value='true'>
          <param name='autoStart' value="{{autoplay}}">
          <param name='showControls' value="true">
          <param name='loop' value="false">
          <EMBED type='application/x-mplayer2'
          pluginspage='http://microsoft.com/windows/download/'
            id='mediaPlayer' name='mediaPlayer' displaysize='4' autosize='-1' 
            bgcolor='darkblue' showcontrols="true" showtracker='-1' 
            showdisplay='0' showstatusbar='-1' videoborder3d='-1' width="800" height="600"
            src="{{baseurl}}{{ url_for('media', filename=path) }}" autostart="{{autoplay}}" designtimesp='5311' loop="false">
          </EMBED>
        </OBJECT>
    {% elif player == "quicktime" %}
        <OBJECT classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width="800" height="600" codebase='http://www.apple.com/qtactivex/qtplugin.cab'>
            <param name='src' value="{{baseurl}}{{ url_for('media', filename=path) }}">
            <param name='autoplay' value="{{autoplay}}">
            <param name='controller' value="true">
            <param name='loop' value="false">
            <EMBED src="{{baseurl}}{{ url_for('media', filename=path) }}" width="800" height="600" autoplay="{{autoplay}}" controller="true" loop="false" pluginspage='http://www.apple.com/quicktime/download/'>
            </EMBED>
        </OBJECT>
    {% elif player == "html5" %}
        <video width="800px" height="600px" src="{{baseurl}}{{ url_for('media', filename=path) }}" id="mediaplayer_video" tabindex="0" autoplay="{{autoplay}}" autobuffer="">Unable to display media.</video>
    {% endif %}
</div>

{% endblock %}
